* {
  padding: 0px;
  margin: 0px;
}
.page {
  width: 100svw;
  height: 100svh;
}
#p1 {
  background-image: url("public/background_page1.avif");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#p2 {
  background-color: #f2f2f2;
}
#p3 {
  background-color: #f2f2f2;
}
#p4 {
  background-image:url("public/man_image_page4.jpg");
  background-repeat: no-repeat;
  background-size: contain;

}
.mobile {
  width: 40%;
  height: 10%;
  position: relative;
  top: 40px;
  left: 55%;
  font-family: "Times New Roman", Times, serif;
  font-size: 35px;
}
.parent {
  width: 30%;
  height: 50%;
  position: relative;
  top: 70px;
  left: 66%;
}
.parent1 {
  width: 100%;
  height: 50%;
  display: flex;
  position: relative;
  gap: 40px;
}
.child1 {
  width: 50%;
  height: 90%;
  background-color: #ffffff;
  position: relative;
  border: 3px solid black;
  border-radius: 25px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-size: 20px;
}
.child1:hover {
  transform: scale(1.1);
}
.h4 {
  font-size: large;
  font-family: "Times New Roman", Times, serif;
}
.child2 {
  width: 50%;
  height: 90%;
  background-color: #ffffff;
  border: 3px solid black;
  border-radius: 25px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-size: 20px;
}
.child2:hover {
  transform: scale(1.1);
}
.parent2 {
  width: 100%;
  height: 50%;
  display: flex;
  position: relative;
  gap: 40px;
}
.child3 {
  width: 50%;
  height: 90%;
  background-color: #ffffff;
  border: 3px solid black;
  border-radius: 25px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-size: 20px;
}
.child3:hover {
  transform: scale(1.1);
}
.child4 {
  width: 50%;
  height: 90%;
  background-color: #ffffff;
  border: 3px solid black;
  border-radius: 25px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  top: 2%;
  font-size: 20px;
}
.child4:hover {
  transform: scale(1.1);
}
.heading {
  width: 50%;
  height: 10%;
  position: relative;
  top: 7%;
  left: 27%;
  font-size: 26px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
}
.paragraph {
  width: 40%;
  height: 13%;
  position: relative;
  top: 8%;
  left: 29%;
  font-size: 34px;
}
.pa {
  width: 52%;
  height: 50%;
  position: relative;
  top: 12%;
  left: 24%;
}
.p1 {
  width: 100%;
  height: 50%;
  display: flex;
  position: relative;
  gap: 50px;
}
.c1 {
  width: 50%;
  height: 90%;
  background-color: white;
  border: 3px solid black;
  display: flex;
  position: relative;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}
.c2 {
  width: 50%;
  height: 90%;
  background-color: white;
  border: 3px solid black;
  display: flex;
  position: relative;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}
.p2 {
  width: 100%;
  height: 50%;
  display: flex;
  position: relative;
  gap: 50px;
}
.c3 {
  width: 50%;
  height: 90%;
  background-color: white;
  border: 3px solid black;
  display: flex;
  position: relative;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}
.c4 {
  width: 50%;
  height: 90%;
  background-color: white;
  border: 3px solid black;
  display: flex;
  position: relative;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}
.box1,
.box2,
.box3,
.box4 {
  width: 50%;
  height: 50%;
  background-color: white;
  background-image: url("public/icon_page2.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  left: 5%;
  top: 15%;
}
.c1:hover,
.c2:hover,
.c3:hover,
.c4:hover {
  transform: scale(1.1);
}
.amazing {
  width: 90%;
  height: 10%;
  position: relative;
  left: 41px;
  top: 11%;
  font-size: large;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}
.text1 {
  width: 200%;
  height: 30%;
  position: relative;
  top: 30%;
  right: 85px;
  font-size: 19px;
  font-family: "Times New Roman", Times, serif;
}
.copy {
  width: 90%;
  height: 15%;
  position: relative;
  left: 9%;
  top: 11%;
  font-size: large;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}
.text2 {
  width: 200%;
  height: 30%;
  position: relative;
  top: 30%;
  right: 85px;
  font-size: 19px;
  font-family: "Times New Roman", Times, serif;
}
.deve {
  width: 90%;
  height: 15%;
  position: relative;
  left: 41px;
  top: 11%;
  font-size: large;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}
.text3 {
  width: 200%;
  height: 30%;
  position: relative;
  top: 30%;
  right: 85px;
  font-size: 19px;
  font-family: "Times New Roman", Times, serif;
}
.support {
  width: 90%;
  height: 15%;
  position: relative;
  left: 9%;
  top: 11%;
  font-size: large;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}
.text4 {
  width: 200%;
  height: 30%;
  position: relative;
  top: 30%;
  right: 85px;
  font-size: 19px;
  font-family: "Times New Roman", Times, serif;
}
.info {
  width: 60%;
  height: 75%;
  background-color: #1847B8;
  position: relative;
  left: 10%;
  top: 15%;
  border-radius: 20px;
}
.why {
  width: 60%;
  height: 18%;
  position: relative;
  top: 10%;
  left: 10%;
  color: #f2f2f2;
}
h2 {
  font-size: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.duis {
  width: 65%;
  height: 25%;
  position: relative;
  top: 20%;
  left: 10%;
  color: #f2f2f2;
}
h3 {
  font-size: 35px;
  font-family: "Times New Roman", Times, serif;
}
.learn {
  width: 5%;
  height: 5%;
  background-color: rgb(49, 5, 245);
  position: relative;
  top: 30%;
  left: 10%;
  border: 3px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
  cursor: pointer;
  color: #f2f2f2;
}
.learn:hover {
  transform: scale(1.1);
}
.image {
  width: 25%;
  height: 75%;
  background-color: azure;
  position: relative;
  bottom: 55%;
  left: 60%;
  background-image: url("public/girl_image_page3.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 20px;
  cursor: pointer;
}
.image:hover {
  transform: scale(1.1);
}
.learn {
  width: 15%;
  height: 12%;
  background-color: rgb(52, 18, 177);
  bottom: 50%;
  border-radius: 40px;
}
.aboutus{
    width: 20%;
    height: 8%;
    position: relative;
    left:55%;
    top:5%;
    font-size: 40px;
}
.build{
    width:40%;
    height: 15%;
    position: relative;
    left:55%;
    top:5%;
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;
}
.common{
    width:40%;
    height: 20%;
    position: relative;
    left:55%;
    top:12%;
    
}
.bullet{
    width:15%;
    height: 10%;
    position: relative;
    left:55%;
    top:15%;
    font-size: 25px;
    color: orange;
}
.read{
    width: 7%;
    height: 8%;
    background-color: blue;
    position: relative;
    left:55%;
    top:18%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 50px;
    color: white;
    cursor: pointer;
}
.read:hover{
    transform: scale(1.1);
}
p{
    font-size: 28px;
}
.pic1{
    width:8%;
    height: 11%;
    background-image: url("public/phone_icon_page4.png");
     background-repeat: no-repeat;
  background-size: contain;
    position: relative;
    top:26%;
    left:4%
}
.contact{
    width: 10%;
    height: 8%;
    background-color: blue;
    position: relative;
    left: 85%;
    top: 16%;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    cursor: pointer;
}
.contact:hover{
    transform: scale(1.1);
}